/** Pour le thème skolober_classic **/
@import 'couleurs';
@import 'mixins';

/** GLOBAL **/

body, p {
  color:$grisfonce;
  font-size:1.2rem;
}

h1 {color:$mauve;
    font-size:2rem;
    text-align:center;
}

h2, h3, h4, h5, h6 {
  color:$orange;
}


/** HEADER **/

#header {
a{color:$mauve;}
a:hover{color:black;}

 .header-nav {
  margin-bottom:0px;
  background-color: $orange;
  color:$mauve;
  border-bottom:0;
  a {color:$mauve;}
  .blockcart {background-color: $orange;}
  .cart-preview .shopping-cart {color:$mauve;}
}

  .search_bar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:$mauve;
  }

  .header-top {
  color:$mauve;
  padding-bottom:0rem;
  height: 52px;
    a[data-depth="0"] {color:$mauve;font-size:1.1rem;}
    a[data-depth="0"]:hover {color:black;}

    .container {
      box-sizing:border-box;
      height:52 px;}

    .row {height:52px    }

    .menu {
      margin-bottom:0rem;
      height:52px;
      }

    ul#top-menu {height:52 px;
    margin-bottom:0rem;
      li, li a {height: 100%;}
      li a {line-height:50px;}
      li a:hover {background-color:$mauve;color:$orange;height:50px;}
    }

}

  #_desktop_logo {height:52px; padding-top:1 px; padding-bottom: 1px;}

  .logo {max-width:52px;
height: 52px!important;}

}

.search-widget {width:100%;
  input {width:100%}
  }


/** MAIN **/

#wrapper {padding-top:0rem;}
#content-wrapper {padding-top: 20px;}

.block-categories, #search_filters {
  background-color: $mauve;
  color:$orange;
  .category-sub-menu li[data-depth="0"] > a {border-color:$orange;}
  a{color:$orange;}
  a:hover{color:white;}
}




/** FOOTER **/

#footer {
  background-color: $mauve;
  color:white;
  box-shadow: 2px 2px 11px 0 rgba(0,0,0,.3);
  a,p, .block-contact {color:white;}
  img.logo_footer {width:100px;}

  .h1, .h2, .h3, .h4, a.text-uppercase {color:orange;}
  .footer-container {
    box-shadow: none;
}

}
