@charset "UTF-8";
/** Pour le thème skolober_classic **/
<<<<<<< HEAD
/**TEST DEV 0 1 2 **/
=======
<<<<<<< HEAD
/**TEST DEV 4 5 6 **/
=======
a {
  color: green;
}

>>>>>>> parent of b4af6c4... 4
>>>>>>> parent of 28d8f24... 0
/** HEADER **/
#header a {
  color: #54516f;
}

#header a:hover {
  color: black;
}

#header .header-nav {
  margin-bottom: 0px;
  background-color: #ff7900;
  color: #54516f;
  border-bottom: 0;
}

#header .header-nav a {
  color: #54516f;
}

#header .header-nav .blockcart {
  background-color: #ff7900;
}

#header .header-nav .cart-preview .shopping-cart {
  color: #54516f;
}

#header .search_bar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #54516f;
}

#header .header-top {
  color: #54516f;
  padding-bottom: 0rem;
  height: 52px;
}

#header .header-top a[data-depth="0"] {
  color: #54516f;
}

#header .header-top a[data-depth="0"]:hover {
  color: black;
}

#header .header-top .container {
  box-sizing: border-box;
  height: 52 px;
}

#header .header-top .row {
  height: 52px;
}

#header .header-top .menu {
  margin-bottom: 0rem;
  height: 52px;
}

#header .header-top ul#top-menu {
  height: 52 px;
  margin-bottom: 0rem;
}

#header .header-top ul#top-menu li, #header .header-top ul#top-menu li a {
  height: 100%;
}

#header .header-top ul#top-menu li a {
  line-height: 50px;
}

#header .header-top ul#top-menu li a:hover {
  background-color: #54516f;
  color: #ff7900;
  height: 50px;
}

#header #_desktop_logo {
  height: 52px;
  padding-top: 1 px;
  padding-bottom: 1px;
}

#header .logo {
  max-width: 52 px;
  height: 52 px !important;
}

.search-widget {
  width: 100%;
}

.search-widget input {
  width: 100%;
}

/** MAIN **/
#wrapper {
  padding-top: 0rem;
}

#content-wrapper {
  padding-top: 20px;
}

/** FOOTER **/
#footer .footer-container {
  background-color: #54516f;
  color: white;
}

#footer .footer-container a, #footer .footer-container p, #footer .footer-container .block-contact {
  color: white;
}

#footer .footer-container .h1, #footer .footer-container .h2, #footer .footer-container .h3, #footer .footer-container .h4, #footer .footer-container a.text-uppercase {
  color: orange;
}
