@charset "UTF-8";
/** Pour le thème skolober_classic **/
/** GLOBAL **/
body, p {
  color: #434244;
  font-size: 1.2rem;
}

h1 {
  color: #54516f;
  font-size: 2rem;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  color: #ff7900;
}

/** HEADER **/
#header a {
  color: #54516f;
}

#header a:hover {
  color: black;
}

#header .header-nav {
  margin-bottom: 0px;
  background-color: #ff7900;
  color: #54516f;
  border-bottom: 0;
}

#header .header-nav a {
  color: #54516f;
}

#header .header-nav .blockcart {
  background-color: #ff7900;
}

#header .header-nav .cart-preview .shopping-cart {
  color: #54516f;
}

#header .search_bar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #54516f;
}

#header .header-top {
  color: #54516f;
  padding-bottom: 0rem;
  height: 52px;
}

#header .header-top a[data-depth="0"] {
  color: #54516f;
  font-size: 1.1rem;
}

#header .header-top a[data-depth="0"]:hover {
  color: black;
}

#header .header-top .container {
  box-sizing: border-box;
  height: 52 px;
}

#header .header-top .row {
  height: 52px;
}

#header .header-top .menu {
  margin-bottom: 0rem;
  height: 52px;
}

#header .header-top ul#top-menu {
  height: 52 px;
  margin-bottom: 0rem;
}

#header .header-top ul#top-menu li, #header .header-top ul#top-menu li a {
  height: 100%;
}

#header .header-top ul#top-menu li a {
  line-height: 50px;
}

#header .header-top ul#top-menu li a:hover {
  background-color: #54516f;
  color: #ff7900;
  height: 50px;
}

#header #_desktop_logo {
  height: 52px;
  padding-top: 1 px;
  padding-bottom: 1px;
}

#header .logo {
  max-width: 52px;
  height: 52px !important;
}

.search-widget {
  width: 100%;
}

.search-widget input {
  width: 100%;
}

/** MAIN **/
#wrapper {
  padding-top: 0rem;
}

#content-wrapper {
  padding-top: 20px;
}

.block-categories, #search_filters {
  background-color: #54516f;
  color: #ff7900;
}

.block-categories .category-sub-menu li[data-depth="0"] > a, #search_filters .category-sub-menu li[data-depth="0"] > a {
  border-color: #ff7900;
}

.block-categories a, #search_filters a {
  color: #ff7900;
}

.block-categories a:hover, #search_filters a:hover {
  color: white;
}

/** FOOTER **/
#footer {
  background-color: #54516f;
  color: white;
  box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.3);
}

#footer a, #footer p, #footer .block-contact {
  color: white;
}

#footer img.logo_footer {
  width: 100px;
}

#footer .h1, #footer .h2, #footer .h3, #footer .h4, #footer a.text-uppercase {
  color: orange;
}

#footer .footer-container {
  box-shadow: none;
}
